# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Editor and OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db